body{
    width: 98%;
    font-family: sans-serif;
    position: absolute;
    color: rgb(0,155,223);
    background-color: rgb(245,250,252);
    text-align: center;
}
header{
    width: 98%;
    background-color: rgb(222,241,249);
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
    top: 10px;
    z-index: 1; 
}
header div{
    padding-top: 3px;
    float:left;
}
header div span{
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    vertical-align: 10px;
    color: palevioletred;
}
header nav{
    transform: translateX(-5%);
}
header nav li{

    display: inline-block;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: -10px;
}
header nav li a{
    text-decoration: none;
    color: rgb(0,155,223);
}
header nav ul li:hover{
    background-color: rgb(0,155,223);
}
header nav ul li a:hover{
    color:white;
}

main img{
    text-align: center;
    width: 90%;
}
aside{
    width: 98%;
}
aside div{
    width: 19%;
    float:left;
}
aside div img{
    max-width: 200px;
}

footer{
    background-color: rgb(222,241,249);
    width: 95%;
    text-align: center;
    clear: both;
    height: 150px;
    text-align: left;
    padding-left: 40px;
}
footer nav{
    width: 90%;
    text-align: left;

}
footer nav section{
    padding: 5px;
    margin-left: 25px;
    float: left;
    width: 23%;
}
footer nav section h6{
    font-size: small;
    padding: 0px;
    margin-bottom: 0cm;
}

footer nav li{
    list-style: circle;
    font-size: small;
    text-decoration: none;
    color: rgb(0,155,223);
    font-weight: bold;
}
footer nav li a{
    text-decoration: none;
    color: rgb(0,155,223);
}
footer div a{
    margin-right: 15px;
    float: right;
}
footer div{
    width: 8%;
    float: right;


}

#up_a{
    height: 40px;
    width: 40px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 150px;
}
a:active {
    color: forestgreen;
  }
#filter{
    visibility: hidden;
    height: 40px;
    width: 40px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    left: 20px;
    top:70px;
}
#menu{
    visibility: hidden;
    height: 30px;
    width: 30px;
    position: sticky;
    left: 90%;
    top:12px;
}
@media only screen and (max-width:992px){
    main{
        grid-template-columns: 50% 50%;
    }
    aside{
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    }
    footer{
        width: 93%;
    }

}
@media only screen and (max-width:576px){
    aside{
        width: 80%;
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        transform: translateX(7%);
    }
    aside div img{
        display: none;
    }
    header nav li a{
        font-size: x-small;
    }
    footer nav li{
        font-size: xx-small;
    }
}
@media only screen and (max-width:390px){
    aside{display: none;}
    header nav{display:none;}
    footer nav{display: none;}
    #menu{
        visibility: visible;
    }
}


